/*--- Avanquest WebEasy Page Style ---*/


.cc02               { /* Common */
	border          :   0.00pt solid #f0f0f0;
	}
span#e13            { /* images/beatenbyrocks%20b... */
	background      : transparent url(images/beatenbyrocks%20build%201003004.gif) no-repeat top left;
	position        : absolute;
	left            :  14.25pt;
	top             :   6.00pt;
	width           : 674.25pt;
	height          : 504.75pt;
	}
div#e12             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	border          :   1.50pt inset #942424;
	background-color: #d5ccbb;
	position        : absolute;
	left            : 180.00pt;
	top             : 477.00pt;
	width           :   1.50pt;
	height          :  22.50pt;
	}
div#e11             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	border          :   1.50pt inset #942424;
	background-color: #d5ccbb;
	position        : absolute;
	left            : 277.50pt;
	top             : 477.75pt;
	width           :   1.50pt;
	height          :  22.50pt;
	}
div#e10             { /* Home */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 196.50pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
div#e9              { /* Pictures */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 282.75pt;
	top             : 109.50pt;
	width           :  56.25pt;
	height          :  13.50pt;
	}
div#e8              { /* Andrew */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 369.00pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
div#e7              { /* Lee */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 453.75pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
h6#e6               { /* Links */
	position        : absolute;
	left            : 185.25pt;
	top             : 485.25pt;
	width           :  91.50pt;
	height          :  13.50pt;
	}
h6#e5               { /* {Copyright (C) 2007 Avan... */
	position        : absolute;
	left            : 292.50pt;
	top             : 486.75pt;
	width           : 374.25pt;
	height          :  13.50pt;
	}
div#e4              {
	position        : absolute;
	left            : 600.00pt;
	top             : 414.00pt;
	width           :  72.75pt;
	height          :  54.75pt;
	}
span#e3             { /* images/beatenbyrocks%20b... */
	background      : transparent url(images/beatenbyrocks%20build%201003003.gif) no-repeat top left;
	position        : absolute;
	left            :  54.00pt;
	top             : 165.00pt;
	width           : 341.25pt;
	height          : 227.25pt;
	}
span#e2             { /* images/beatenbyrocks%20b... */
	background      : transparent url(images/beatenbyrocks%20build%201003002.gif) no-repeat top left;
	position        : absolute;
	left            : 427.50pt;
	top             : 171.00pt;
	width           : 210.75pt;
	height          : 209.25pt;
	}
span#e1             { /* images/beatenbyrocks%20b... */
	background      : transparent url(images/beatenbyrocks%20build%201003001.gif) no-repeat top left;
	position        : absolute;
	left            : 363.75pt;
	top             : 381.00pt;
	width           : 127.50pt;
	height          :  58.50pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/b10053.gif);
	position        : relative;
	width           : 702.00pt;
	height          : 535.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
