/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}
a:link              { /* Document Style */
	color           : #fafafa;
	text-decoration :none;
	}
a:visited           { /* Document Style */
	color           : #e9e9e9;
	text-decoration :none;
	}
a:hover             { /* Document Style */
	color           : #c25251;
	text-decoration :underline;
	}
a:active            { /* Active Links */
	color           : #FF0000;
	}
ol,ul               { /* All Lists */
	margin          : 1em;
	padding-left    : 2em;
	}
p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
a.navigation:link   {
	color           : #ffffff;
	text-decoration :none;
	}
a.navigation:visited{
	color           : #eeeeee;
	text-decoration :none;
	}
a.navigation:hover  {
	color           : #e4cf3e;
	text-decoration :none;
	}
a.panel:link        {
	color           : #fafafa;
	}
a.panel:visited     {
	color           : #ffffcc;
	}
a.panel:hover       {
	color           : #da7c7c;
	}
table.ct07          { /* Document Style */
	background-color: #99a89f;
	text-align      : center;
	border          :   0.75pt solid #36403f;
	}
table.ct07 caption  { /* Document Style */
	color           : #ffffff;
	font            : bold 8pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
table.ct07 td       { /* Document Style */
	color           : #006600;
	font            : 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : right;
	border          :   0.75pt solid #36403f;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 th       { /* Document Style */
	color           : #fdfdfd;
	font            : bold 8pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	background-color: #63746a;
	text-align      : left;
	border          :   0.75pt solid #36403f;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
table.ct07 .ch07 th { /* Document Style */
	color           : #fdfdfd;
	font            : bold 8pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	background-color: #8a9d92;
	text-align      : left;
	border          :   0.75pt solid #374140;
	padding         :   1.50pt;
	white-space     : nowrap;
	vertical-align  : middle;
	}
.address,address    {
	color           : #ffffff;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.citation,cite      {
	color           : #ffffff;
	font            : 11pt 'Arial', Helvetica, sans-serif;
	}
.code,code          {
	color           : #ffffff;
	}
.deco               {
	color           : #942424;
	background-color: #942424;
	}
.emphasis,em        {
	color           : #ffffff;
	}
.footer             {
	color           : #dbdbdb;
	font            : bold 8pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	}
.footer a           {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.footer_box         {
	color           : #fdfdfd;
	background-color: #fdfdfd;
	}
.form_button        {
	color           : #6b3200;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	border          :   1.50pt inset #000000;
	}
.form_input         {
	color           : #ffffff;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	background-color: #c0c0c0;
	border          :   1.50pt inset #592a00;
	}
.form_label         {
	color           : #5b5b5b;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	}
.form_legend        {
	color           : #009900;
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
.form_set           {
	}
.header             {
	color           : #fafafa;
	font            : bold 28pt 'Arial', Helvetica, sans-serif;
	}
.header_box         {
	color           : #66cc33;
	background-color: #66cc33;
	}
.heading1,h1        {
	color           : #808080;
	font            : 24pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
.heading2,h2        {
	color           : #808080;
	font            : 20pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
.heading3,h3        {
	color           : #e0e0e0;
	font            : 18pt 'Arial', Helvetica, sans-serif;
	}
.heading4,h4        {
	color           : #fafafa;
	font            : 16pt 'Arial', Helvetica, sans-serif;
	}
.heading5,h5        {
	color           : #808080;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.heading6,h6        {
	color           : #808080;
	font            : 12pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
.info               {
	color           : #ffffff;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	}
.info_box           {
	color           : #ffffff;
	}
.info_tag           {
	color           : #fafafa;
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
.item               {
	color           : #ffffff;
	font            : 11pt 'Arial', Helvetica, sans-serif;
	}
.item_box           {
	color           : #808080;
	background-color: #808080;
	border          :   0.75pt solid #bfbfbf;
	}
.item_tag           {
	color           : #ffffff;
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	}
.logo               {
	color           : #6a7278;
	font            : bold 8pt 'Arial', Helvetica, sans-serif;
	background-color: #6a7278;
	text-align      : center;
	}
.logo_box           {
	color           : #009900;
	}
.logo_tag           {
	color           : #fafafa;
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	}
.navigation         {
	color           : #ffffff;
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	text-align      : center;
	}
.navigation a       {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.navigation_box     {
	color           : #545454;
	background-color: #545454;
	}
.navigation_tag     {
	color           : #ffffff;
	}
.news               {
	color           : #ffffff;
	font            : 12pt 'Arial', Helvetica, sans-serif;
	}
.news_box           {
	color           : #3b4747;
	background-color: #3b4747;
	border          :   0.75pt solid #ffffff;
	}
.news_tag           {
	color           : #ffffff;
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	}
.page               {
	color           : #ff3300;
	background-color: #ffffff;
	}
.page_box           {
	color           : #5a2c00;
	background-color: #5a2c00;
	border          :   1.50pt solid #d1cca9;
	}
.page_tag           {
	color           : #ffffff;
	font            : bold 16pt 'Arial', Helvetica, sans-serif;
	}
.panel              {
	color           : #fafafa;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	text-align      : center;
	}
.panel_box          {
	color           : #520100;
	background-color: #520100;
	}
.photo              {
	color           : #ffffff;
	border          :   1.50pt solid #d1cca9;
	}
.photo_box          {
	color           : #f6e8da;
	background-color: #f6e8da;
	}
.photo_tag          {
	color           : #ffffff;
	font            : 10pt 'Arial', Helvetica, sans-serif;
	}
.sly                { /* Special */
	display         : none;
	}
.small,small        {
	color           : #ffffff;
	font            : bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	text-decoration : underline;
	}


/*--- EndOfFile ---*/
