/*--- Avanquest WebEasy Page Style ---*/


.cc03               { /* Common */
	border          :   0.00pt solid #f0f0f0;
	}
span#e15            { /* images/green.png */
	background      : transparent url(images/green.png) no-repeat top left;
	position        : absolute;
	left            :  14.25pt;
	top             :   6.00pt;
	width           : 674.25pt;
	height          : 504.75pt;
	}
div#e14             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	border          :   1.50pt inset #942424;
	background-color: #d5ccbb;
	position        : absolute;
	left            : 180.00pt;
	top             : 477.00pt;
	width           :   1.50pt;
	height          :  22.50pt;
	}
div#e13             {
	font            : 12pt 'Arial', Helvetica, sans-serif;
	text-align      : left;
	border          :   1.50pt inset #942424;
	background-color: #d5ccbb;
	position        : absolute;
	left            : 277.50pt;
	top             : 477.75pt;
	width           :   1.50pt;
	height          :  22.50pt;
	}
div#e12             { /* Home */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 196.50pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
div#e11             { /* Pictures */
	padding-top     :   0.75pt;
	position        : absolute;
	left            : 282.75pt;
	top             : 109.50pt;
	width           :  56.25pt;
	height          :  13.50pt;
	}
div#e10             { /* Andrew */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 369.00pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
div#e9              { /* Lee */
	padding-top     :   3.75pt;
	position        : absolute;
	left            : 453.75pt;
	top             : 107.25pt;
	width           :  56.25pt;
	height          :  15.75pt;
	}
h6#e8               { /* Links */
	position        : absolute;
	left            : 185.25pt;
	top             : 485.25pt;
	width           :  91.50pt;
	height          :  13.50pt;
	}
h6#e7               { /* {Copyright (C) 2007 Avan... */
	position        : absolute;
	left            : 292.50pt;
	top             : 486.75pt;
	width           : 374.25pt;
	height          :  13.50pt;
	}
span#e6             { /* images/beatenbyrockswebs... */
	background      : transparent url(images/beatenbyrockswebsite004005.png) no-repeat top left;
	position        : absolute;
	left            :  54.00pt;
	top             : 165.00pt;
	width           : 341.25pt;
	height          : 227.25pt;
	}
span#e5             { /* images/beatenbyrockswebs... */
	background      : transparent url(images/beatenbyrockswebsite004004.png) no-repeat top left;
	position        : absolute;
	left            : 427.50pt;
	top             : 171.00pt;
	width           : 211.50pt;
	height          : 209.25pt;
	}
span#e4             { /* images/beatenbyrockswebs... */
	background      : transparent url(images/beatenbyrockswebsite004003.png) no-repeat top left;
	position        : absolute;
	left            : 524.25pt;
	top             : 382.50pt;
	width           : 132.75pt;
	height          :  66.75pt;
	}
span#e3             { /* images/beatenbyrockswebs... */
	background      : transparent url(images/beatenbyrockswebsite004002.png) no-repeat top left;
	position        : absolute;
	left            :  15.75pt;
	top             : 313.50pt;
	width           : 105.00pt;
	height          : 169.50pt;
	}
span#e2             { /* images/beatenbyrockswebs... */
	background      : transparent url(images/beatenbyrockswebsite004001.png) no-repeat top left;
	position        : absolute;
	left            : 346.50pt;
	top             :-162.00pt;
	width           : 131.25pt;
	height          : 162.00pt;
	}
h6#e1               { /* beatenbyrocks.com ver. 1... */
	position        : absolute;
	left            :   0.00pt;
	top             : 486.00pt;
	width           : 290.25pt;
	height          :  14.25pt;
	}
div#page            { /* Page Holder */
	background-image: url(images/b10053.gif);
	position        : relative;
	width           : 702.00pt;
	height          : 535.50pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	text-align      : center;
	}



/*--- EndOfFile ---*/
